/* css reset */
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

blockquote {
    margin: 0 0 0 30px;
    font-style: italic;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 0.4rem;
    letter-spacing: -1px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

span {
    text-decoration-line: line-through;
}

em {
    font-style: initial;
}

strong {
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: orangered;
}